<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ .Title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header id="site-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand" href="/">{{ .Site.Title }}</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                  <a class="nav-link" href="/about/">About Us</a>
                  <a class="nav-link" href="/posts/">Posts</a>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <main class="site-main">
        <div class="container">
            {{ block "main" . }}
            {{ end }}
        </div>

    </main>
    <footer id="side-footer" class="bg-dark text-white pb-4 pt-4">
        <div class="copyright text-center">
            &copy; 2022 İhsan Kılınç
        </div>
    </footer>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>