{{ define "main" }}
<section class="post-list">
    {{ range .Paginator.Pages }}
    <article class="single-post border-bottom pb-4">
        <h2 class="entry-title mt-4 mb-4">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h1>

        <div class="entry-content"> {{ .Summary }}</div>
        <div class="post-meta mt-4 pl">
            <span class="post-author">
                <i class="bi bi-file-person-fill"> </i> {{ .Params.author }}
            </span>
            <span class="post-date">
                <i class="bi bi-clock-fill"> </i><time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
            </span>
            <span class="post-tags">
                {{ range (.GetTerms "tags") }}
                <i class="bi bi-bookmark-check-fill"> </i> <a href="{{ .Permalink }}">{{ .LinkTitle }} </a>
                {{ end }}
            </span>
            
        </div>
    </article>
    {{ end }}
    <div class="pt-4">
        {{ template "_internal/pagination.html" . }}
    </div>

</section>
{{end}}