{{ define "main" }}

<div class="home-container">
    <h1>{{ .Title }}</h1>
    <img src="../images/logo.png" width="400px" />
<ul class="home-nav">
        <li><a href="/posts/">Archive</a></li>
        <li><a href="/posts/">Posts</a></li>
        <li><a href="/about/">Contact</a></li>
</ul>
<ul class="home-nav">
    <li><a href="https://github.com/ihsankilinc">İhsan Kılınç <i class="bi bi-github"> </i></a></li>
    <li><a href="https://twitter.com/thediagramme">thediagramme <i class="bi bi-twitter"> </i></a></li>
</ul>


</div>
{{end}}